[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
pypdf = "*"
huggingface-hub = "*"
streamlit = "*"
pytesseract = "*"
pdf2image = "*"
unstructured = {extras = ["pdf"], version = "*"}
ocrmypdf = "*"

[dev-packages]

[requires]
python_version = "3.13"
